* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #0a0a23;
    --section-bg-color: #ffffff;
    --golden-yellow: #feac32;
    --red: #ee2e31;
    --black: #071013;
    --soft-blue: #2098e2;
    --accent-blue: #0f95a7;
}

body {
    background-color: var(--soft-blue);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.start-screen {
    background-color: var(--main-bg-color);
    color: var(--section-bg-color);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 5px;
}

.main-title {
    text-align: center;
}

.instructions {
    text-align: center;
    font-size: 1.2rem;
    margin: 15px;
    line-height: 2rem;
}

.btn,
.restart-game {
    cursor: pointer;
    /* width: 100px; */
    margin: 10px;
    color: var(--golden-yellow);
    font-size: 1.35rem;
    font-weight: 700;
    background-color: var(--soft-blue);
    background-image: linear-gradient(var(--soft-blue), var(--accent-blue));
    border-color: var(--golden-yellow);
    border-width: 3px;
    border-radius: 5px;
    padding: 0.5rem 3rem;
    text-decoration: underline;
}

.btn:hover,
.restart-game:hover {
    background-image: linear-gradient(#ffcc4c, #f89808);
    border-color: var(--soft-blue);
    color: var(--soft-blue);
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkpoint-screen,
.final-checkpoint {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--section-bg-color);
    border-radius: 20px;
    padding: 10px;
    display: none;
}

#canvas {
    display: none;
}

@media (min-width: 768px) {
    .start-screen {
        width: 60%;
        max-width: 700px;
    }

    .checkpoint-screen {
        max-width: 300px;
    }
}
